@model WebSales.Services.DTOs.SaleCustomerProductDTO

@{
    ViewData["Title"] = "RegisterSale";
}

<h1>Register a new Sale</h1>
<hr />
<form asp-action="RegisterSale" method="post">
    <select id="SelectedCustomer" name="SelectedCustomer" class="form-control">
        <option value="">Selecione um cliente</option>
        @foreach (var customer in Model.CustomersForSaleDTO)
        {
            <option value="@customer.Id">@customer.Id - @customer.FullName</option>
        }
    </select>
    <br />

    <select id="SelectedProduct" name="SelectedProduct" class="form-control">
        <option value="">Selecione um Produto</option>
        @foreach (var product in Model.ProductsForSaleDTO)
        {
            <option value="@product.Id">Product Name: @product.Name - Product Quantity: @product.Quantity</option>
        }
        <input type="number" />
    </select>
        <hr />
        @*
        <div id="products">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Quantity to Sale
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.ProductsForSaleDTO)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => product.Id)
                                <input type="hidden" name="ProductsForSaleDTO.Index" asp-for="@product.Id" value="@product.Id"/> <!-- Adicione um campo oculto com o ID do produto -->
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => product.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => product.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => product.Price)
                            </td>
                            <td>
                                <input asp-for="ProductsForSaleDTO[@product.Id].QuantityToSale" type="number" value="ProductsForSaleDTO[@product.Id].QuantityToSale" min="0" /> <!-- Adicione um campo de entrada com o nome QuantityToSale para o produto -->
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        *@
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="Index">Back to List</a>
        </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
