@model WebSales.Services.DTOs.SaleDTO

@{
    ViewData["Title"] = "RegisterSale";
}

<h1>Register a new Sale</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterSale">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">teste</label>
                @Html.DropDownList("CustomersDTO", new SelectList(ViewBag.CustomersDTO, "Id", "FullName"), new{ @class="form-control", @onchange="changeCustomerId(this)" })
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label">Product ID</label>
                @Html.DropDownList("ProductsDTO", new SelectList(ViewBag.ProductsDTO, "Id", "Name"), new{ @class="form-control", @onchange="changeProductsId(this)" })
            </div>
            <div class="form-group">
                <label asp-for="ProductQuantity" class="control-label">Product Quantity</label>
                <input asp-for="ProductQuantity" value="1" class="form-control" onblur="calculateTotal()" />
                <span asp-validation-for="ProductQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Quantity at Stock</label>
                <input id="quantityStock" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="ProductPriceAtMoment" class="control-label">Product Price</label>
                <input asp-for="ProductPriceAtMoment" class="form-control" readonly="readonly" />
                <span asp-validation-for="ProductPriceAtMoment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label">Total</label>
                <input asp-for="Total " class="form-control" readonly="readonly" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <input asp-for="CreatedAt" value="@DateTime.Now" type="hidden" />
            <input asp-for="ModifiedAt" value="@null" type="hidden" />
            <input asp-for="SaleCancelled" value="@false" type="hidden" />
            <input asp-for="CustomerId" value="1" type="hidden" />
            <input asp-for="ProductId" value="1" type="hidden" />

            <br />
            <div class="form-group">
                <button id="calculate" onclick="calculateTotal()" class="btn btn-success">Calculate</button>

                <input type="submit" value="RegisterSale" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    document.getElementById("calculate").addEventListener("click", function (event) {
        event.preventDefault()
    });

    function changeCustomerId(element) {
        document.getElementById("CustomerId").value = element.value
    }

    function changeProductsId(element) {
        document.getElementById("ProductId").value = element.value
    }

    async function calculateTotal() {
        let productId = Number(document.getElementById("ProductId").value);
        let product = await axios.get(`@Url.Action("FindProductById", "Products")/${productId}`).then(r => r.data).catch(console.log)
        document.getElementById("quantityStock").value = product["quantity"]
        document.getElementById("ProductPriceAtMoment").value = product["price"]
        document.getElementById("Total").value = (document.getElementById("ProductQuantity").value * document.getElementById("ProductPriceAtMoment").value).toFixed(2)


    }
</script>
